header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.banner{
    text-align: center;
    color: aliceblue;
    animation: shine 4s infinite alternate;
    position: relative;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(red, green, blue, alpha);
}
.banner h1{
    font-size: 3em;
    margin-bottom: 10px;
}
.banner p{
    font-size: 1.5em;
}
.dropdown{
    position: absolute;
    top: 20px;
    left: 20px;
}
.menu-btn{
padding: 10px 20px;
background-color: black;
border: none;
border: 5px;
color: aliceblue;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}
.menu-btn:hover {
background-color: blueviolet;
}
.menu-list{
    display: none;
    list-style: none;
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: o 4px 8px rgba(red, green, blue, alpha);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}
.menu-list.show{
    display: block;
}
.menu-list li{
    margin-bottom: 10px;
}
.menu-list li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.menu-list li a:hover{
color: aquamarine;
}
.dropdown:hover-list {
    display: block;
}
@keyframes shine{
0%{
    background-image: linear-gradient(90deg, #000, #000);
}
100%{
    background-image: linear-gradient(90deg, #000, #ff0000, #000ff0, #0ff000);
    background-size:  200% 200%;
    background-position: 100%;
}
}